@import 'hamburgers';

#main-nav {
  @apply tw-animate-fadeIn lg:tw-animate-none;
  & > .menu-item {
    a {
      @apply hover:tw-text-red tw-transition-colors tw-uppercase tw-text-[15px] tw-font-bold;
    }
    &.current-menu-item,
    &.current-menu-ancestor {
      & > a {
        @apply tw-text-red;
      }
    }
  }
}
#main-nav .menu-item-has-children {
  position: relative;
  & > a {
    @apply tw-hidden lg:tw-block;
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.562' height='7.225' viewBox='0 0 9.562 7.225'%3E%3Cpath id='Path_1' data-name='Path 1' d='M944.652,98.653l4,5,4-5' transform='translate(-943.872 -98.028)' fill='none' stroke='%23eb2e39' stroke-width='2'/%3E%3C/svg%3E%0A");
      @apply tw-ml-2 tw-inline-block tw-relative tw-top-[-1px];
    }
  }
  &:hover {
    & > a {
      @apply tw-text-red;
    }
    .sub-menu {
      @apply lg:tw-block;
    }
  }

  .sub-menu {
    @apply tw-flex tw-flex-col tw-items-center tw-space-y-5 lg:tw-space-y-0 lg:tw-hidden lg:tw-absolute tw-top-auto tw-left-0 tw-bg-white lg:tw-pt-2 tw-min-w-full lg:tw-z-20 lg:tw-animate-fadeIn;
    & .menu-item {
      @apply tw-mb-px last:tw-mb-0;
      a {
        @apply lg:tw-flex lg:tw-items-center lg:tw-relative lg:tw-px-4 lg:tw-h-[45px] lg:tw-border-l-2 lg:tw-border-solid lg:tw-border-red lg:tw-bg-cream lg:tw-z-10 lg:tw-normal-case lg:tw-font-normal;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 0;
          z-index: -1;
          @apply tw-bg-red;
        }
        &:hover {
          @apply lg:tw-text-white;
          transition: all linear 0.2s;
          &::before {
            transition: all ease-in-out 0.3s;
            @apply lg:tw-w-full;
          }
        }
      }
    }
  }
}

//Layout
.gform_fields {
  @apply tw-grid md:tw-grid-cols-6 tw-gap-x-6 tw-gap-y-6 md:tw-gap-y-9;
}
.gfield {
  @apply md:tw-col-span-2 tw-block;
  &.half {
    @apply md:tw-col-span-3;
  }
  &.full {
    @apply md:tw-col-span-6;
  }
}

//Fields and labels
.gfield:focus-within {
  .gfield_label {
    @apply tw-text-red;
  }
}
.gfield_label {
  @apply tw-text-[14px] tw-text-medium tw-font-normal tw-block tw-mb-2 tw-transition-colors;
}
.gfield {
  input,
  select,
  textarea {
    @apply tw-border-solid tw-border-medium tw-border-b tw-block tw-w-full tw-h-7 focus:tw-border-red focus-visible:tw-outline-none tw-bg-transparent;
  }
}

.gform_button {
  @apply tw-uppercase tw-font-serif tw-border tw-border-solid tw-border-red tw-text-red tw-w-fit tw-text-[14px] tw-py-2 tw-px-6 tw-mt-12 tw-italic tw-w-fit tw-block tw-text-red hover:tw-text-white tw-border-red tw-bg-transparent hover:tw-bg-red;
}
.center .gform_button {
  @apply tw-mx-auto lg:tw-mb-8;
}

// Confirmation
.gform_confirmation_message {
  @apply tw-text-lg tw-text-center tw-text-red tw-font-bold tw-bg-light tw-shadow tw-border-medium tw-border-solid tw-border-2 tw-rounded tw-p-8 tw-min-h-[200px] tw-flex tw-items-center;
}
.validation_error {
  @apply tw-text-red tw-mb-6;
}
.validation_message {
  @apply tw-text-sm tw-text-red;
}

.accTrigger {
  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.362' height='10.225' viewBox='0 0 14.362 10.225'%3E%3Cpath id='Path_2' data-name='Path 2' d='M944.652,106.653l6.4-8,6.4,8' transform='translate(-943.871 -97.052)' fill='none' stroke='%23EB2E39' stroke-width='2'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) rotate(0);
    transition: all ease-in-out 0.35s;
  }
  &.active::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.362' height='10.225' viewBox='0 0 14.362 10.225'%3E%3Cpath id='Path_2' data-name='Path 2' d='M944.652,106.653l6.4-8,6.4,8' transform='translate(-943.871 -97.052)' fill='none' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
    transform: translateY(-50%) rotate(-180deg);
  }
}

.normalizeText {
  h2,
  h3 {
    @apply tw-text-red tw-text-lg lg:tw-text-xl tw-mb-7;
  }
  p {
    @apply tw-mb-4;
  }
  ul {
    @apply tw-list-inside tw-list-disc tw-mb-4;
  }
  ol {
    @apply tw-list-inside tw-list-decimal;
  }
  blockquote {
    @apply tw-italic tw-border-cream tw-py-1 tw-mb-7;
    &.has-text-align-left {
      @apply tw-border-l-4 tw-pl-4;
    }
    &.has-text-align-right {
      @apply tw-border-r-4 tw-pr-4;
    }
    p {
      @apply last:tw-mb-0;
    }
  }
}
